@model Itinerary

@{
    ViewData["Title"]="Edit Itinerary";
}

<!DOCTYPE html>

<h2>@ViewBag.Title</h2>

<body>
<form asp-action="Edit" method="post">
    <!--- Hidden field including Id in form submission, linking data to the correct record in
    the database. --->
    @Html.HiddenFor(model => model.Id)
    
    <div class="edit-form">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    
    <div class="edit-form">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
    </div>
    
    <div class="edit-form">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" />
    </div>
    
    <div class="edit-form">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" />
    </div>
    
    <div class="edit-form">
        <input type="submit" value="Confirm" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
    </div>
</form>
</body>